body {
	background: #151515;										/* Page background */
	color: #999;														/* Font color */
	padding: 150px;													/* Padding between link blocks and edge */
	font-family: "Museo", "Helvetica Neue", sans-serif;	/* Font */
	text-shadow: rgba(0,0,0,0.6) 1px 1px 0; /* Text Shadow */
}

a {
	color: #999;														/* Link Color */
	font-size: 11px;												/* Link Size */
	text-decoration: none;									/* Remove underlines */
}

a:hover {
	color: #ddd;														/* Link hover color */
}

.block {
	border-left: 1px solid #999;						/* Left border of link block */
	float: left;
	padding: 1em;														/* Padding around link block */
	width: 140px;														/* Link block width */
}

h1 {
	margin: 0;
	font-size: 1.5em;												/* Title size */
}

ul {
	padding: 0.25em;
}

ul li {
	list-style: none;
	padding: 5px;
}

form {
	position: absolute;											/* Position search box */
	top: 2em;																/*		from top edge */
	right: 2em;															/*		from right edge */
}

form input {
	background: #333;												/* Background search box */
	background: -webkit-gradient(						/*		gradient for webkit */
		linear,
		left top,
		left bottom,
		from(#222),
		to(#333));
	background: -moz-linear-gradient(				/*		gradient for gecko */
		top,
		#222,
		#333);
	border: 1px solid #444;									/* Border search box */
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;	/* Shadow search box - webkit */
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;			/* Shadow search box - gecko */
	box-shadow: rgba(0,0,0,0.2) 0 1px 2px;					/* Shadow search box - generic */
	color: #ddd;														/* Text color search box */
	font-size: 1em;													/* Text size search box */
}

form input:first-child {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 0;
}

form input:last-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0;
}
/* cc BY-NC-SA License :: k3ttc4r :: 2008 :: http://k3ttc4r.deviantart.com */
/* background by Alexander-GG :: http://alexander-gg.deviantart.com */
